.panel
    .article
        h1 post.title
        img(src="img/inked-mag/5.jpg")
        .thumbs
            .thumb
                a(href="img/inked-mag/1.jpg" 
                    class="strip"
                    data-strip-group="inked") 
                    img(src="img/inked-mag/1.jpg")
            .thumb
                a(href="img/inked-mag/2.jpg" 
                    class="strip"
                    data-strip-group="inked") 
                    img(src="img/inked-mag/2.jpg")
            .thumb
                a(href="img/inked-mag/3.jpg" 
                    class="strip"
                    data-strip-group="inked") 
                    img(src="img/inked-mag/3.jpg")
            .thumb
                a(href="img/inked-mag/4.jpg" 
                    class="strip"
                    data-strip-group="inked") 
                    img(src="img/inked-mag/4.jpg")
            .thumb
                a(href="img/inked-mag/5.jpg"
                    class="strip"
                    data-strip-group="inked")
                    img(src="img/inked-mag/5.jpg")
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis, rem voluptates ea quo quis alias consectetur reprehenderit natus, non, qui nulla minus. Non eos blanditiis exercitationem cum, repellendus culpa.