.thumbs
    .thumb
        a(href="img/eagle/1.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/eagle/1.jpg")
    .thumb
        a(href="img/eagle/2.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/eagle/2.jpg")    
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis, rem voluptates ea quo quis alias consectetur reprehenderit natus, non, qui nulla minus. Non eos blanditiis exercitationem cum, repellendus culpa. 