include _partials/nav.jade

.panel.birthday
    .article.birthday
        h1 Happy Birthday Ace!
        
        a(href="https://youtu.be/16nENe7tNKQ" 
            class="strip"
            data-strip-group="birthday") 
            img(src="portfolio/img/birthday/3.jpg")
        p.italic This is you realising you're another year older (click on it)
        br
        p Hey Grace, Happy Birthday. I made you this website so that you can share your talent with the world. I hope it helps in some way in getting you to where you want to be. You deserve so much success and I'd love to be a part of that journey. 
        p I don't mean to sound too soppy, but you mean a lot to me. I've not had so much fun nor felt so comfortable with someone until you. You make me look at life in a new way and I'm grateful for that. 
        p It's not been a long time since we met, but you've had such a profound effect on me. I mean, shit, how did I not see it coming when the first time we're drankin together it's from some sort of glorious chalice!
        a(href="portfolio/img/birthday/1.jpg" 
            class="strip"
            data-strip-group="birthday") 
            img(src="portfolio/img/birthday/1.jpg")
        p I can't figure out what it is about you, Grace, but you're amazing to me. You're beautiful and funny and intelligent and I wish you all the success in the world. Happy Birthday.
        a(href="portfolio/img/birthday/2.jpg" 
            class="strip"
            data-strip-group="birthday") 
            img(src="portfolio/img/birthday/2.jpg")
        p.italic Here's to you
        p Yours fuzzily,
        p Foxxy

include _partials/portfolio-footer.jade