.thumbs
    .thumb
        a(href="img/characters/alice.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/characters/alice.jpg")
    .thumb
        a(href="img/characters/batman.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/characters/batman.jpg")
    .thumb
        a(href="img/characters/luigi.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/characters/luigi.jpg")
    .thumb
        a(href="img/characters/medusa.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/characters/medusa.jpg")
    .thumb
        a(href="img/characters/woman.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/characters/woman.jpg")
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis, rem voluptates ea quo quis alias consectetur reprehenderit natus, non, qui nulla minus. Non eos blanditiis exercitationem cum, repellendus culpa. 