.thumbs
    .thumb
        a(href="img/nautical-drawings/sea-battle.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/nautical-drawings/sea-battle.jpg")
    .thumb
        a(href="img/nautical-drawings/nautical.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/nautical-drawings/nautical.jpg")
    .thumb
        a(href="img/nautical-drawings/nautical-long.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/nautical-drawings/nautical-long.jpg")
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis, rem voluptates ea quo quis alias consectetur reprehenderit natus, non, qui nulla minus. Non eos blanditiis exercitationem cum, repellendus culpa. 