.thumbs
    .thumb
        a(href="img/robots/catseye1.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/catseye1.jpg")
    .thumb
        a(href="img/robots/catseye2.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/catseye2.jpg")
    .thumb
        a(href="img/robots/catseye3.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/catseye3.jpg")
    .thumb
        a(href="img/robots/stag1.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/stag1.jpg")
    .thumb
        a(href="img/robots/stag2.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/stag2.jpg")
    .thumb
        a(href="img/robots/stag3.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/stag3.jpg")
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis, rem voluptates ea quo quis alias consectetur reprehenderit natus, non, qui nulla minus. Non eos blanditiis exercitationem cum, repellendus culpa. 