.thumbs
    .thumb
        a(href="img/robots/hand1.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/hand1.jpg")
    .thumb
        a(href="img/robots/hand2.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/hand2.jpg")
    .thumb
        a(href="img/robots/arm.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/arm.jpg")
    .thumb
        a(href="img/robots/arm2.jpg" 
            class="strip"
            data-strip-group="#{ group }") 
            img(src="img/robots/arm2.jpg")
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis blanditiis, rem voluptates ea quo quis alias consectetur reprehenderit natus, non, qui nulla minus. Non eos blanditiis exercitationem cum, repellendus culpa. 